<div>
  <h2>Edit Person</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="image">Image</label>
<input type="file" id="image" name="image" required (change)="onFileChange($event)">
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required [(ngModel)]="person.name">
    </div>
    <div>
      <label for="birthdate">Birthdate</label>
      <input type="date" id="birthdate" name="birthdate" required [(ngModel)]="person.birthdate">
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" required [(ngModel)]="person.phone">
    </div>
    <button type="submit">Save</button>
  </form>
</div>
